
<form id='registr' method='POST' action='/registr/add'>
  <div class="form-group">
    <label for="exampleInputLogin">E-mail нового пользователя:</label>
    <input type="email" class="form-control" id="exampleInputLogin" aria-describedby="basic-addon1" name='email'>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Пароль:</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name='password'>
    <small id="emailHelp" class="form-text text-muted">Пользователь сможет изменить свой пароль</small>
  </div>
  <button type="submit" class="btn btn-primary">Зарегистрировать</button>
</form>
