<div class="list">
  {{#each instruments}}
  <div class="list-column">
    <img src="images/logo.png" class="list-images" alt="">
    <title class="appliance-title">{{title}}</title>
    <p class="appliance-body">{{body}}</p>
  </div>
  {{/each}}
</div>

<div id='calendar'></div>
