<div class="list">
  {{#each entries}}
  <div class="list-column">
    <img src="" alt="">
    <title class="appliance-title">{{title}}</title>
    <p class="appliance-body">{{body}}</p>
  </div>
  {{/each}}
</div>
