.error {
  color: red;
  text-align: center;
}
main {
  padding-bottom: 100px;
}
.header {
  display: flex;
  position: fixed;
  top: 0px;
  height: 80px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid black;
  box-shadow: 0 0 20px;
  margin-bottom: 30px;
  z-index: 100;
  background-color: #fff;
}
.header ul {
  list-style: none;
  margin: 0px;
}
.header li {
  display: inline;
  margin: 0px 20px;
}
.header-link {
  color: white;
  font-size: 20px;
}
.header-link:hover {
  box-shadow: 0 0 10px blue;
}
.imageHome {
  display: block;
  height: 70px;
  width: 70px;
  margin-left: 50px;
}
.header .logo {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.main-header {
  text-align: center;
  margin-bottom: 100px;
}
.main-title {
  font-size: 50px;
}
.main-subtitle {
  font-size: 30px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -30px;
  text-align: center;
}
.list-column {
  display: flex;
  margin: auto;
  flex-direction: column;
  flex: 0 0 45%;
  padding: 25px;
  margin-bottom: 100px;
  height: 600px;
  max-height: 600px;
  overflow: hidden;
  border: 2px solid black;
  box-shadow: 0 0 10px;
}
.appliance-title {
  display: inline;
  font-size: 22px;
  margin-bottom: 20px;
  font-size: 42px;
  margin: 0px 0px 20px;
}
.appliance-body {
  height: 65px;
  font-size: 14px;
  overflow: hidden;
}
.appliance {
  text-align: center;
  font-size: 24px;
  margin-bottom: 100px;
}
.appliance-img {
  margin: 20px auto;
  height: 300px;
  width: 100%;
}
.appliance-img img {
  height: 100%;
  width: 100%;
}
.appliance-div {
  display: flex;
  justify-content: space-around;
}

.appliance-window-img {
  height: 500px;
  width: 850px;
  margin-bottom: 40px;
}
.appliance-window-title {
  font-size: 50px;
}

.record-button {
  display: flex;
  width: 200px;
  height: 60px;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: yellow;
  border-radius: 50px;
  border: 2px solid black;
  margin: 50px auto 0px;
}

.record {
  margin: 50px auto 0px;
  display: flex;
  justify-content: center;
}
.record button {
  display: block;
  margin: auto;
}
.date {
  margin: 0px 5px;
}
.time {
  margin-right: 10px;
}

.upload {
  display: block;
  font-size: 26px;
  padding: 10px 0px;
  width: 400px;
  text-align: center;
  margin: 0px auto 20px;
}
.upload:hover {
  color: lightblue;
}

.form-delete {
  display: flex;
  align-items: center;
}
.delete-title {
  font-size: 20px;
  margin: 0px 10px 0px 0px;
}
#deletedUser {
  box-sizing: border-box;
  height: 35px;
  font-size: 20px;
  margin-right: 10px;
  padding: 0px 5px;
  border-radius: 10px;
  border: 2px solid blue;
  background-color: white;
}
