.header {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}
.header ul {
  list-style: none;
}
.header li {
  display: inline;
  margin: 0px 20px;
}

.main-header {
  text-align: center;
  margin-bottom: 100px;
}
.main-title {
  font-size: 50px;
}
.main-subtitle {
  font-size: 30px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -30px;
  text-align: center;
}
.list-column {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  padding: 0px 30px;
  margin-bottom: 30px;
  max-height: 200px;
}
.appliance-title {
  display: inline;
  font-size: 22px;
  margin-bottom: 20px;
}
.appliance-body {
  font-size: 14px;
}

.appliaance {
  text-align: center;
  font-size: 24px;
  margin-bottom: 100px;
}
.appliaance-img {
  margin: auto;
  height: 500px;
  width: 900px;
}
.appliaance-img img {
  height: 100%;
  width: 100%;
}
.appliaance-title {
  font-size: 42px;
  margin: 50px 0px 20px;
}

.record-button {
  display: flex;
  width: 200px;
  height: 60px;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: yellow;
  border-radius: 50px;
  border: 2px solid black;
  margin: 50px auto 0px;
}
