<div class="appliance appliance-window">
  <div class="appliance-img appliance-window-img"><img
      src="https://upload.wikimedia.org/wikipedia/commons/7/76/Dfsd_dgh_gfcjngy_df.JPG{{appliance.address}}" alt="">
  </div>
  <div class="appliance-title appliance-window-title">
    {{appliance.title}}
  </div>
  <div class="appliance-text appliance-window-text">
    {{appliance.body}}
  </div>
  {{#if status}}

  {{/if}}
</div>

<div id='calendar'></div>

<div class="record">
  {{#if error}}
  <h2 class="error">Данное время записи занято, выбитите другое</h2>
  {{/if}}
  {{#if user}}
    <form method='POST' action='/main/appliance/{{appliance._id}}/record'>
      <div class="form-group">
        <label for="exampleInputLogin">Запись от:</label>
        <input class="date" type="date" name="fromDate"><input class="time" type="time" name="fromTime">
        <label for="exampleInputEmail1">до:</label>
        <input class="date" type="date" name="toDate"><input class="time" type="time" name="toTime">
      </div>
      <div class="form-group">

      </div>
      <button type="submit" class="btn btn-primary">Записаться</button>
    {{/if}}
</div>
