<div class="appliaance">
  <div class="appliance-img"><img src="https://upload.wikimedia.org/wikipedia/commons/7/76/Dfsd_dgh_gfcjngy_df.JPG{{appliance.address}}" alt=""></div>
  <div class="appliance-title">
    {{appliance.title}}
  </div>
  <div class="appliance-text">
    {{appliance.body}}
  </div>
  {{#if AAAAA}}
  {{/if}}
  <a href="#" class="record-button">Записаться</a>
</div>
