<h1>Добавить изображение прибора</h1>
<form action="/main/appliance/{{id}}/upload" method="POST" enctype="multipart/form-data">
  <label>Файл</label><br>
  <input type="file" name="filedata" /><br><br>
  <input type="submit" value="Добавить" />
</form>
