<script defer src="/js/calendar.js"></script>
<div class="list">
  {{#each instruments}}
  <div class="list-column">
    <img src="images/gen.jpg" class="appliance-img" alt="">
    <title class="appliance-title">{{title}}</title>
    <p class="appliance-body">{{body}}</p>
    <a href="/main/appliance/{{_id}}">Перейти</a>
  </div>
  {{/each}}
</div>
